[Unit]
Description=Sea Farmer Service for %i
Requires=sea-daemon@%i.service
After=sea-daemon@%i.service

[Service]
Type=simple
Environment=SEA_ROOT=/home/%i/.sea/mainnet
ExecStart=/opt/sea/sea_farmer
User=%i
Group=%i
LimitNOFILE=1048576
LimitNPROC=1048576

[Install]
WantedBy=multi-user.target
